gizeh
torch
matplotlib
seaborn
stable-baselines3
tensorboard
gym==0.21

hydra-core
opencv-python
pre-commit
black
isort
pytest
pytest-cov
imageio

# 2022-05-30 
#Tensorboard 2.9.0 / 2.8.0 / 2.7.0 are incompatible with the latest verison of protobuf 
# we fix this by downgrading protobuf manualle
# this is necessary while tb 2.9.1 / 2.8.2 / 2.7.3 are not yet available on pip
# see https://github.com/tensorflow/tensorflow/issues/53234 for detail
protobuf >= 3.9.2, < 3.20
