gizeh==0.1.11
torch==1.11.0
matplotlib==3.5.1
seaborn==0.11.2
stable-baselines3==1.5.0
tensorboard==2.8.0
gym==0.21

hydra-core==1.1.1
opencv-python==4.5.5.62
pre-commit==2.17.0
black==22.1.0
isort==5.10.1
pytest==7.0.1
pytest-cov==3.0.0
imageio==2.16.1
pynverse==0.1.4.4
moviepy

# 2022-05-30 
#Tensorboard 2.9.0 / 2.8.0 / 2.7.0 are incompatible with the latest verison of protobuf 
# we fix this by downgrading protobuf manualle
# this is necessary while tb 2.9.1 / 2.8.2 / 2.7.3 are not yet available on pip
# see https://github.com/tensorflow/tensorflow/issues/53234 for detail
protobuf >= 3.9.2, < 3.20
